<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- The main API URL where the parking data is loaded from. -->
    <add key="ParkingDataSourceURL" value="http://parkingdata.finnpark.fi:8080/Datex2/OpenData" />
  </appSettings>
</configuration>